/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: lightgrey;

body {
  background-color: $primary-background;
}

nav {
  display: flex;
  align-items: center;
  
  h1 {
    font-size: 3em;
    margin: 0;
  }

  p {
    margin: 0 35px;
  }
}

.ui-widgets {
  max-width: 1000px;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.tabs-nav li {
  width: 50%;
  border-top-left-radius: 6px;
  
}

a {
  background: #eaeaed;
  border: 1px solid #cecfd5;
  color: #0276b0;
  display: block;
  font-weight: 600;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
}

.tab-active a {
  background: #fff;
  border-bottom-color: transparent;
  color: #1da03a;
  cursor: default;
  text-decoration: none;
}

.div__tabs {
  border: 1px solid grey;
  width: 33%;
}

